/* VARIABLES */
:root {
    /* COLOURS */
    --jet: #323031; /* background */
    --apple: #a7d49b; /* for text */
    --desert: #e4c3ad; /* auxiliary/detail */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
    min-height: 15vh;
}

html {
    background-color: var(--jet);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    min-width: 100%;
    background: url(https://cdn.pixabay.com/photo/2017/06/26/17/29/city-2444512_960_720.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer {
    min-height: 5vh;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 30vh;
    background-color: whitesmoke;
    opacity: 0.8;
}

h1 {
    font-size: 10rem;
    color: var(--apple);
}

.navbar__list {
    display: none;
}

/* .navbar__list--visible {

} */

.footer {
    color: var(--apple);
}