/* VARIABLES */
:root {
    /* COLOURS */
    --jet: #323031; /* background */
    --apple: #a7d49b; /* for text */
    --desert: #e4c3ad; /* auxiliary/detail */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: auto;
    font-family: 'Girassol', cursive;
}

header {
    min-height: 25vh;
}

.header-container {
  background-color: whitesmoke;
  padding: 1rem;
}

html {
    background-color: var(--jet);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    min-width: 100%;
    color: var(--apple);
    /* background: url('../img/bgImgApoc.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat; */
    font-size: 2rem;
    font-weight: bold;
    border-style: solid none solid none;
    border-color: rgb(22, 133, 167);
    border-width: 15px;
    margin-top: 2rem;
}

/* Slideshow container */
.slideshow-container {
    min-width: 70%;
    max-height: auto;
    position: relative;
    margin: auto;
    overflow: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 5px 10px 18px #888888;
  }

  .imgWidth {
      min-width: 100%;
      /* height: auto; */
      object-fit: cover;
      overflow: none;
  }

  .prep-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    object-fit: cover;
    box-shadow: 5px 10px 18px #888888;
    background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/265178/910/661/m2/fpnw/wm1/zb5ouuqnkkwycschdgjrtwf5vqhq9aaiuwocz1att2vacicnzykpoonbrtpspmlc-.jpg?1418057595&s=d48539be909bc964dc790b2a905af81f');
  }

  .prep-content2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888;
    background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/265178/910/661/m2/fpnw/wm1/zb5ouuqnkkwycschdgjrtwf5vqhq9aaiuwocz1att2vacicnzykpoonbrtpspmlc-.jpg?1418057595&s=d48539be909bc964dc790b2a905af81f');
  }

  .prep-content3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--jet);
    border-style: solid none solid none;
    border-width: 5px;
    border-color: var(--jet);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
  }

  /* .prep-img {
    height: 10rem;
    width: auto;
  } */

  .header-container {
    display: grid;
    grid-template-columns: 50vw auto auto;
    grid-template-rows: 1fr 8fr;
    align-content: center;
  }

  .footer__container {
    background: url("../img/footerimg.png");
    max-width: 100%;
    min-height: 8rem;
  }

  .footer-legend {
    background-color: whitesmoke;
    color: black;
    padding: 2em 0;
  }



  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: var(--apple);
    background-color: var(--jet);
    font-size: 1.5rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.footer {
    min-height: 15vh;
    color: var(--apple);
    text-align: center;
    padding: 2em 0;
}

.survival-img {
  height: auto%;
  width: auto;
  object-fit: contain;
}

h1 {
    font-size: 5em;
    color: var(--apple);
    text-decoration: underline;
    text-decoration-color: rgb(22, 133, 167);;
}

fieldset {
  padding: 3rem;
}

.navbar__item {
  list-style: none;
  padding: 0.5em 0;
  font-weight: 900;
}

a {
  color: var(--apple);
  text-decoration: none;

}

.navbar__item:hover {
  transform: scale(2);
}

.navbar__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 15vh;
}

.navbar__container {
  border-style: solid none solid none;
  border-color: rgb(22, 133, 167);
  border-width: 0.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}