<section class="About-section">
    <h1 class="About-section__heading">Who are we?</h1>
    <p>In a world where every corner you turn to is despair and desolation...</p>
    <p>In a place where hope is dire and days are bleak...</p>
    <p>We shall provide you with a sliver of hope...</p>
    <p>We are the final frontier for humanity...</p>
    <p>We are <span class="capitalise">jamarad</span>.</p>
</section>