<section class="get-prepped-section">
    <fieldset class="get-prepped__field">
        <legend>Get Prepped</legend>
        <form action="/get-prepped" method="POST" class="get-prepped__form">
            <label for="get-prepped-name" class="get-prepped-section__label">
                Prep Name
                <input required type="text" name="get-prepped-name" class="get-prepped-section__input" id="get-prepped-name">
            </label>
            <label for="get-prepped-type" class="get-prepped-section__label">
                Type
                <select required name="get-prepped-type" id="get-prepped-type">
                    <option value="Skill">Skill</option>
                    <option value="Tip">Tip</option>
                    <option value="Item">Item</option>
                </select>
            </label>
            <label for="get-prepped-description" class="get-prepped-section__label">
                Description
                <input required type="text" name="get-prepped-description" class="get-prepped-section__input" id="get-prepped-description">
            </label>
            <label for="get-prepped-image" class="get-prepped-section__label">
                Choose your image
                 <input type="url" name="get-prepped-image" class="get-prepped-section__input" id="get-prepped-image">
            </label>
            <input type="submit" class="get-prepped-section__submit">
        </form>
    </fieldset>
</section>