<section class="home-section">
    <h2 class="home-section__heading">Choose your apocalypse:</h2>
    <form action="" class="home-section__form">
        <label for="apocalypse-input" class="home-section__label">
            <input type="text" name="apocalypse-type" class="home-section__input" id='apocalypse-input'>
        </label>
        <ul class="home-section__list">
            {{#each apocalypses}}
            <li class="home-section__list-item">
                {{this}}
            </li>
            {{/each}}
        </ul>
        <label for="apocalypse-submit" class="home-section__label">
            <input type="submit" name="apocalypse-submit" class="home-section__submit" id='apocalypse-submit'>
        </label>
    </form>
    

</section>