<section class="home-section">
  <fieldset class="home-section__field">
    <form action="" method="" class="home-section__form">
      <legend class="home-section__legend">Home</legend>
{{> midder }}
      <label for="apocalypse-input" class="home-section__label">Choose your apocalypse:
          <select class="home-section__select" required name="apocalypse">
              {{#each apocalypses}}
                  <option value={{this}}>{{capitalise this}}</option>
              {{/each}}
          </select>
      </label>
      <input type="submit" name="apocalypse-submit" class="home-section__submit" id='apocalypse-submit'>
    </form>
  </fieldset>
</section>
