<section class="login-section">
    <fieldset class="login-section__field">
        <legend>Login</legend>
        <form action="/login" method="POST" class="login-section__form">
            <label for="login-name" class="login-section__label">
                Name
                <input required type="text" name="name" class="login-section__input" id="login-name">
            </label>
            <label for="login-password" class="login-section__label">
                Password
                <input required type="password" name="password" class="login-section__input" id="login-password">
            </label>
            <label for="login-confirm-password" class="login-section__label" hidden>
                Confirm Password
                <input required type="password" name="confirm-password" class="login-section__input" id="login-confirm-password">
            </label>
            <label for="login-star-sign" class="login-section__label">
                What is your star sign?
                <select required name="star-sign" id="login-star-sign">
                    <option value="Capricorn">Capricorn</option>
                    <option value="Aquarius">Aquarius</option>
                    <option value="Pisces">Pisces</option>
                    <option value="Aries">Aries</option>
                    <option value="Taurus">Taurus</option>
                    <option value="Gemini">Gemini</option>
                    <option value="Cancer">Cancer</option>
                    <option value="Leo">Leo</option>
                    <option value="Virgo">Virgo</option>
                    <option value="Libra">Libra</option>
                    <option value="Scorpio">Scorpio</option>
                    <option value="Opiuchus">Opiuchus</option>
                    <option value="Sagittarius">Sagittarius</option>
                </select>
            </label>
            <label required for="login-movie" class="login-section__label" hidden>
                What movie do you watch to prepare for the endtimes?
                <input required type="text" name="movie" class="login-section__input" id="login-movie">
            </label>
            <input type="submit" class="login-section__submit">
        </form>
    </fieldset>
</section>