<section class="single-prop-section view">

    <fieldset>

        {{#each preps}}
    <legend class="single-prep-section__heading">{{prep_name}}</legend>

    <div class="prep-box">
        <p class="single-prep-section__type">{{prep_type}}</p>
        <p class="single-prep-section__description">{{description}}</p>
      
    {{/each}}
    </div>
    </fieldset>
</section>
