<section class="single-prep-section">
    <h2 class="single-prep-section__heading">Your Prepper Profile</h2>

    <div class="profile-box">
        <h2 class="name">{{name}}</h2>
        <p class="star-sign">{{star_sign}}</p>
        <p class="movie">{{movie}}</p>

        <a href="/get-prepped"><button class="get-prepped-button" />Get Prepped!</button></a>
    

    </div>

</section>