<footer class="footer">
  <div class="footer-legend">Want to prep but not sure where to begin? Join our newsletter for FREE weekly prep tips!<br>
      <label for="prepper-email">
                Enter you EMAIL:
        <input type="text" name="prepper-email" id="prepper-email">
        <input type="submit">
      </label>
  <p>© 2019 Preppers United</p>
  </div>
  <div class="footer__container">
  </div>
</footer>
