<header class="navbar">
  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
  <div class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      {{!-- <div class="survival-img"></div> --}}
        <img src="/img/survivalist.png" class="survival-img" alt="survival pic">
        <h1 class="navbar__heading">Prepper</h1>
        <a class="navbar__burger"></a>
        {{!-- got rid of burger --}}
        <ul class="navbar__list"> {{!- class 'navbar__list--visible' toggled when burger clicked}}
            <li class="navbar__item">
            <a class="navbar__link {{#if activePage.home}}navbar__link--active{{/if}}" href="/">HOME</a>
            </li>
            <li class="navbar__item">
            <a class="navbar__link {{#if activePage.login}}navbar__link--active{{/if}}" href="/login">LOGIN</a>
            </li>
            <li class="navbar__item">
            <a class="navbar__link {{#if activePage.about}}navbar__link--active{{/if}}" href="/about">ABOUT</a>
            </li>
            <li class="navbar__item">
            <a class="navbar__link {{#if activePage.profile}}navbar__link--active{{/if}}" href="/profile">PROFILE</a>
            </li>
        </ul>
    </nav>
  </div>
</header>

